:root {
  --background: #333646;
  --secondary-background: #252734;
  --text-main: #E5E7EB;
  --red: #F98080;
  --gray: #9FA6B2;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body, #root {
  font-size: 16px;
  color: var(--text-main);
  height: 100%;
  width: 100%;
  background: var(--background) no-repeat;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 700;
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
}

a {
  color: var(--text-main)
}

a:hover {
  color: var(--red)
}

.content {
  margin: 0 auto;
  max-width: 72rem;
}


.profile-container {
  display: flex;
  justify-content: space-between;
}

.inline {
  margin-top: 20vh;
}

.profile-container {
  width: 100%;
  min-height: 60vh;
}

.profile .name {
  font-size: 64px;
  grid-area: name;
}

.profile .introduction {
  font-size: 18px;
  color: var(--gray)
}

.underline {
  width: 40%;
  margin-top: 10px;
  background: var(--red);
  height: 3px;
  border: none;
}

.profile .socials {
  font-size: 35px;
  margin-top: 25px;
  grid-area: socials;
  display: inline-flex;
  height: 100%;
}

.profile .socials a {
  margin-right: 20px;
}

.info {
  font-size: 14px;
}

.inline.small {
  width: 40%;
}

.projects {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  column-count: 2;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.project-container {
  color: var(--text-main);
  display: inline-flex;
  margin: 30px 0 30px 30px;
}

.project-container .description .title {
  margin-bottom: 10px;
}

.project-container img {
  border-radius: 100%;
  margin-right: 15px;
  height: 75px;
  width: 75px;
}

.project-container .description .info  {
  display: flex;
  color: var(--gray);
  margin-bottom: 10px;
  justify-content: space-between;
}

.project-container .description {
  font-weight: 400;
}

.info {
  display: flex;
  font-size: 14px;
}

.switch:hover {
  cursor: pointer;
}

.switch {
  color: var(--gray);
  margin-right: 15px;
}

.info .description {
  margin-top: 10px;
}

.switch.active {
  color: var(--text-main)
}

.inline.small .description {
  margin-top: 10px;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .content {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .inline {
    margin-top: 10vh;
  }
  .inline.small {
    width: 90%;
  }
  .profile-container {
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
  }
  .projects {
    display: inline-block;
    grid-template-columns: 0;
    column-count: inherit;
    width: 390px;
  }
}
